body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  color: #00B7FF;
}

.btn {
  background-color: black;
  color:white;
  padding: 10px;
  border-radius: 4%;
}

table, th, td {
  border: 1px solid black;
  margin: 20px;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
}