<%- include('../partials/header') %>


<form action="/flights" method="POST">
    <label>Airline:
        <select name="airline">
            <option>Select Flight</option>
            <option value="American">American</option>
            <option value="Southwest">Southwest</option>
            <option value="United">United</option>
    </label><br>
    <label>Flight No.:
        <input type="number" name="flightNo">
    </label><br>
    <label>Departs:
        <input type="datetime-local" name="departs">
    </label><br>
    <label>Airport:
        <select name="airport">
            <option>Select Airport</option>
            <option value="AUS">AUS</option>
            <option value="DAL">DAL</option>
            <option value="LAX">LAX</option>
            <option value="SEA">SEA</option>
        </select>
    </label>
    <input type="submit" value="Add Flight">
</form>

<%- include('../partials/footer') %>